<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="defaultStatementTimeout" value="3"/>
		<setting name="logImpl" value="SLF4J"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="Long" type="java.lang.Long" />
		<typeAlias alias="HashMap" type="java.util.HashMap" />
		<typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
		<typeAlias alias="ArrayList" type="java.util.ArrayList" />
		<typeAlias alias="LinkedList" type="java.util.LinkedList" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="helperDialect" value="mariadb"/>
			<property name="pageSizeZero" value="true"/>
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
	
	<environments default="deploy3">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://45.77.31.33:9999/qqbot?useUnicode=true&amp;characterEncoding=UTF8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC&amp;allowMultiQueries=true"/>
				<property name="username" value="qqbot"/>
				<property name="password" value="qqbotdiyigemt"/>
			</dataSource>
		</environment>
		<environment id="deploy">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/qqbot?characterEncoding=utf8"/>
				<property name="username" value="root"/>
				<property name="password" value="1355247243qwe"/>
			</dataSource>
		</environment>
		<environment id="deploy2">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://localhost:3306/qqbot?characterEncoding=utf8&amp;allowPublicKeyRetrieval=true"/>
				<property name="username" value="qqbot"/>
				<property name="password" value="qqbotdiyigemt"/>
			</dataSource>
		</environment>
		<environment id="deploy3">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver"/>
				<property name="url" value="jdbc:mariadb://localhost:3307/utf8mb4?characterEncoding=utf8"/>
				<property name="username" value="root"/>
				<property name="password" value="04521998723"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="org/miraiboot/mapper/PermissionMapper.xml"/>
	</mappers>

</configuration>